<!-- for success flash -->
<%if(success && success.length){%>
    <div class="flash_div alert alert-success col-6 offset-3" role="alert">
        <%= success %>
            <div class="close">
                <i class="close_icon fa-solid fa-xmark"></i>
            </div>
    </div>

    <%}%>
        <!-- for error flash -->
        <%if(error && error.length){%>
            <div class="flash_div alert alert-danger col-6 offset-3" role="alert">
                <%= error %>
                    <div class="close">
                        <i class="close_icon fa-solid fa-xmark"></i>
                    </div>
            </div>
            <%}%>